<div class="container">
    <div class="row">
        <div class="col-sm-12" *ngIf="customer == null">
            <h1>Cargando...</h1>
        </div>
    </div>
    <div class="row" *ngIf="customer != null">
        <h1 class="col-sm-12">Informaciones de {{customer.names}} {{customer.surnames}}</h1>
        <hr class="col-sm-12">
        <a [routerLink]="['/cliente']">Volver al listado</a>
        <div class="col-sm-12" id="dvInfo">
            <p><span><strong>Nombres:</strong></span> {{customer.names}}</p>
            <p><span><strong>Apellidos:</strong></span> {{customer.surnames}}</p>
            <p><span><strong>Teléfono:</strong></span> {{customer.phoneNumber}}</p>
            <p><span><strong>Celular:</strong></span> {{customer.telephoneNumber}}</p>
            <p><span><strong>Direcciones:</strong></span></p>
            <ul>
                <li *ngFor="let address of customer.addresses">{{address}}</li>
            </ul>
        </div>
    </div>
</div>